.AppointmentAvailable {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.412);
  width: 40%;
  display: flex;

  flex-direction: column;
  padding: 2rem;
}
.AppointmentAvailable h2,
.AppointmentAvailable .date {
  text-align: center;
}
